* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  body{
    background-color: #FFF;
   
  }
  .slider{
    width: 1300px;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-right:90px;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
   
}


#prev{
  margin-left: -50px;
  
}
  

@media screen and (max-width: 768px){
    .slider{
        height: 250px;
        width: 400px;
        margin-left: -10px;
        
    }
    
    .slider .item {
      padding-left: 0;
    }
    .slider .item img{
      
      width: 400px;
      height: 200px;
      padding-left: 30px;

    }

#prev{
  margin-left: 8px;
}

    #next{
      margin-right: -10px;
    }
}

.item{
padding-left: 200px;
}

@media  screen and (min-width:1080px) and  (max-width: 1900px) {
    a img{
      margin-left: -250px;
      
    }
   .first-li{
margin-left:-400px;
margin-right: 0;
    }
    hr{
      margin-left: 995px;

      margin-bottom: 50px;
    }
    .hr{
      margin-top: 0px;
    }
    .hr2{
      margin-top: -60px;
      margin-bottom: -4;
    }
    
    .slider{
      height: 700px;
    }
    .linha{
      width: 1519px;
    }
}